{% extends 'base.html'%}

{% block head %}


{% endblock %}


{% block body %}
    <!-- Contact Section Begin -->
    <section class="contact-section spad set-bg" data-setbg="{{url_for('static', filename='img/match/match-bg.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-info">
                        <h2>You have insufficient permissions to view this page (403)</h2>
                        <p>The page you trying to acess is outside your permissions</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

{% endblock %}
