{% extends 'base.html'%}

{% block head %}


{% endblock %}


{% block body %}
    <!-- Contact Section Begin -->
    <section class="contact-section spad set-bg" data-setbg="{{url_for('static', filename='img/match/match-bg.jpg')}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-form">
                        <h2>Reset password</h2>
                        <form method="POST">
                            {{ form.hidden_tag() }}
                            <div class="group-in">
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                        <span>{{error}}</span>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    {{ form.email }}
                                {%endif%}
                            </div>
                            {{ form.submit}}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

{% endblock %}